body {
  width: 100%;
}
main {
}
.otherSend-wrap {
  display: flex;
  position: absolute;
  bottom: 150px;
  max-width: 240px;
  margin-left: 14px;
  margin-top: 40px;
}
.other-img {
  display: inline;
  width: 42px;
  height: 42px;
}

.other-text-wrap {
  position: relative;
  /* margin: 12px; */
}
.other-chat-text {
  margin-left: 12px;
  padding: 12px;
  font-size: 14px;
  border: 1px solid #c4c4c4;
  border-radius: 0 10px 10px;
  background: #ffffff;
  box-sizing: border-box;
}

.other-text-time {
  position: absolute;
  bottom: 0px;
  right: -30px;
  font-size: 12px;
  color: #767676;
}
.selfSend-wrap {
  position: absolute;
  bottom: 70px;
  right: 14px;
  max-width: 240px;
  margin-right: 14px;
  padding: 12px;
  border-radius: 10px 0 10px 10px;
  background-color: #f26e22;
}
.text-self-chat-content {
  position: absolute;
  float: right;
}
.self-text-time {
  position: absolute;
  bottom: 0px;
  left: -30px;
  font-size: 12px;
  color: #767676;
}
