body {
  width: 100%;
}
.nav-top__btn--goback {
  display: flex;
}
.other-name {
  width: 160px;
  margin-top: 5px;
  margin-left: 14px;
}
.otherSend-wrap {
  display: flex;
  position: absolute;
  bottom: 150px;
  max-width: 240px;
  margin-left: 14px;
  margin-top: 40px;
}
.other-img {
  display: inline;
  width: 42px;
  height: 42px;
}

.other-text-wrap {
  position: relative;
  /* margin: 12px; */
}
.other-chat-text {
  margin-left: 12px;
  padding: 12px;
  font-size: 14px;
  border: 1px solid #c4c4c4;
  border-radius: 0 10px 10px;
  background: #ffffff;
  box-sizing: border-box;
}

.other-text-time {
  position: absolute;
  bottom: 0px;
  right: -30px;
  font-size: 12px;
  color: #767676;
}
.selfSend-wrap {
  position: absolute;
  bottom: 70px;
  right: 14px;
  max-width: 240px;
  margin-right: 14px;
  margin-bottom: 8px;
  padding: 12px;
  border-radius: 10px 0 10px 10px;
  background-color: #f26e22;
  font-size: 14px;
  color: #fff;
}
.text-self-chat-content {
  position: absolute;
  float: right;
}
.self-text-time {
  position: absolute;
  bottom: 0px;
  left: -30px;
  font-size: 12px;
  color: #767676;
}
.img-upload {
  width: 36px;
  height: 36px;
  -webkit-filter: grayscale(100%);
  opacity: 0.4;
}
