/* 사이즈 */
html,
body {
  max-width: 440px;
  margin: 0 auto;
}
.chat-list-wrap {
  position: relative;
  width: 100%;
  height: 100vh;
}
.nav-tab-menu {
  position: absolue;
  width: 100%;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #fff;
}
