.hide {
  display: none;
}

.container {
  position: relative;
  height: 100vh;
}

.nav-tab-menu {
  position: absolute;
  bottom: 0;
}

.cont-user-follow {
  margin-top: 25%;
  transform: translateY(-25%);
}

.cont-user-follow__wrapper {
  text-align: center;
}

.cont-user-follow__txt {
  margin: 20px 0;
}

.cont-user-search {
  padding: 20px 16px;
}

.item-user-search + .item-user-search {
  padding-top: 16px;
}
.nav-top__btn--search {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 48px;
}
.nav-top__btn--search img {
  display: block;
}
