html,
body {
  width: 100%;
  height: 100%;
  font-size: 10px;
  background-color: #fcf9e9;
}

.wrap-splash {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  height: 100%;
  margin: 0 auto;
}

.wrap-login-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center;
  width: 100%;
  height: 100%;
}

.img-wrap {
  position: fixed;
  top: 25%;
  width: 100%;
  height: 70%;
}

img {
  display: block;
  width: 20rem;
  height: 20rem;
  margin: 0 auto;
}

.link-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  position: fixed;
  bottom: -5px;
  width: 100%;
  min-height: 250px;
  border-radius: 20px;
  background-color: #69d282;
}

.link-wrap .sns-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: absolute;
  top: 2.5rem;
  width: 100%;
}

.sns-link li {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80vw;
  height: 4rem;
  margin-bottom: 1rem;
  box-sizing: border-box;
  border: 1px solid #69d282;
  border-radius: 44px;
  background: #ffffff;
}
.sns-link li button {
  width: 100%;
  height: 100%;
  border: none;
  border-radius: 44px 44px 0 0;
  box-sizing: border-box;
  background: none;
}
.sns-link li::before {
  content: "";
  float: left;
  width: 2.5rem;
  height: 2.5rem;
  margin-left: 2rem;
  background-size: contain;
}

.sns-link li:nth-child(1)::before {
  /* border: 1px solid #f2c94c; */
  background: url("../images/sns-logo/kakao.png") no-repeat;
}

.sns-link li:nth-child(2)::before {
  border-color: #767676;
  background: url("../images/sns-logo/google.png") no-repeat;
}

.sns-link li:nth-child(3)::before {
  background: url("../images/sns-logo/facebook.png") no-repeat;
}

.sns-link button {
  margin-right: 5%;
}

.login-join {
  margin-top: 1rem;
  font-size: 1.2rem;
  text-align: center;
}

.login-join .login::after {
  content: "|";
  width: 0.4rem;
  height: 1.5rem;
  margin: 0px 6px;
  line-height: 15px;
}
