html, body {
  max-width: 440px;
  height: 100%;
  margin: 0 auto;
}

.nav-top, .module-inp-cmmt {
  position: fixed;
  z-index: 9000;
  background-color: white;
}

.nav-top {
  top: 0;
  max-width: 440px;
}
.module-inp-cmmt {
  bottom: 0;
  max-width: 440px;
  width: 100%;
  box-sizing: border-box;
}

.post {
  box-sizing: border-box;
}

.container {
  margin: 48px 0 60px;
  box-sizing: border-box;
  padding: 20px 16px;
}

.post-header {
  display: flex;
  justify-content: space-between;
  height: 50px;
}

.post-user-wrap {
  display: flex;
}

.post-user-wrap:hover {
  text-decoration: underline;
}

.post-user-info {
  display: flex;
}

.post-user-info-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 5px 0 6px 12px;
  row-gap: 2px;
}

.post-details {
  background: transparent;
  border: none;
  cursor: pointer;
}

.post-details img {
  width: 16px;
}

.post-img-slide-pointer {
  display: none;
}

.post-contents {
  padding: 12px 0 0 62px;
}

.post-contents > * {
  margin-bottom: 16px;
}

.post-img img {
  width: 100%;
}

.post-active {
  display: flex;
}

.post-active > * {
  display: flex;
  align-items: center;
}

.post-active-like {
  margin-right: 20px;
}

.post-active-like img, .post-active-comment img {
  width: 20px;
  height: 20px;
  margin-right: 10px;
  cursor: pointer;
}

.post-comment-wrap {
  border-top: 1px solid #bdbdbd;
}

.post-comments {
  margin-top: 20px;
}

.post-comment {
  margin-bottom: 16px;
}

.post-comment-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 4px;
}

.post-comment-user {
  display: flex;
  align-items: center;
}

.post-comment-user img {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  margin-right: 12px;
}

.post-comment-details {
  border: none;
  cursor: pointer;
  background: transparent;
}

.post-comment-details img {
  width: 16px;
}
.module-inp-cmmt {
  display: block;
  padding: 0 12px;
}

.module-inp-cmmt__inp {
  border: none;
  width: calc(100% - 120px);
  font-size: 15px;
}

.module-inp-cmmt__btn-upload {
  float: right;
  padding: 7px 11px;
  margin-top: 11px;
  background-color: blue;
  border-radius: 26px;
  color: white;
}

/* .module-inp-cmmt__btn-upload::after {
  content: ' ';
  display: block;
  clear: both;
} */

.post-userid {
  font-size: 12px;
  line-height: 14px;
  padding-bottom: 14px;
  color: #767676;
}