html,
body {
  width: 100%;
  font-size: 10px;
  background-color: #ffffff;
}

nav-top {
    position: fixed;
    top: 0;
    background-color: white;
    z-index: 9999;
  }
  
  .nav-top .ms-btn--disabled {
    opacity: 1;
    cursor: pointer;
  }
  
  .nav-top .ms-btn--disabled:active {
    opacity: 0.5;
  }

  .product-add-container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
  }

  .product-add-wrap {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: 30px;
  }

  .product-item {
    width: 100%;
  }

  .product-item {
    position: relative;
  }

  .product-item::after {
    position: absolute;
    top: 60px;
    right: 6px;
    content: '';
    width: 22px;
    height: 22px;
    background: url('../images/img-button.png');
    background-size: 100%;
  }

  .img-add-txt {
    font-size: 12px;
    line-height: 14px;
    margin-bottom: 18px;
    color: #767676;
  }

  fieldset {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 70%;
    min-width: 350px;
    max-width: 500px;
    padding: 20px 0;
    align-items: center;
    text-align: left;
  }
  fieldset > ul {
    margin-top: 15px;
  }
  
  li .block-input {
    margin-bottom: 10px;
  }
  li > label {
    float: left;
    color: #767676;
  }
  li .text-field {
    display: block;
    width: 322px;
    height: 33px;
    padding: 5px 10px;
    box-sizing: border-box;
    border: none;
    border-bottom: 1px solid #dbdbdb;
    outline: none;
  }
  /* input {
    width: 70%;
  } */
  
  .btn-for-start > button {
    width: 322px;
    height: 48px;
    border-radius: 44px;
    background: #f26e22;
    color: #ffffff;
  }
