html,
body {
  width: 400px;
  height: 100%;
  font-size: 10px;
  font-family: Spoqa Han Sans Neo;
  background-color: #fff;
}

.profile-menu-wrap {
  display: flex;
  justify-content: space-between;
  margin: 20px;
}

.user-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.followings-wrap,
.followwers-wrap {
  text-align: center;
}

.followers-num,
.followings-num {
  text-align: center;
  font-weight: bold;
  font-size: 18px;
  line-height: 23px;
}

.followings-num {
  color: #767676;
}

.user-follow-number {
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile-img {
  width: 110px;
  height: 110px;
  margin: 20px 35px;
  border-radius: 50%;
}

.user-profile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.user-profile-name {
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 4px;
}

.user-profile-id {
  font-size: 12px;
  line-height: 14px;
  padding-bottom: 14px;
  color: #767676;
}

.user-profile-info {
  font-size: 14px;
  line-height: 18px;
  color: #767676;
}

.user-contact {
  display: flex;
  align-items: center;
  margin: 10px;
}

.contact-icon {
  width: 34px;
  height: 34px;
  border: 1.8px solid #dbdbdb;
  box-sizing: border-box;
  border-radius: 30px;
  padding: 4px;
}

.m-btn {
  margin: 18px;
}

.container {
  display: flex;
  justify-content: center;
}

.product {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.product-sale {
  text-align: left;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  margin-left: 30px;
}

.product-list {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-left: 20px;
}

.product-txt {
  display: flex;
  align-items: flex-end;
  font-size: 14px;
  line-height: 18px;
}

.product-price {
  display: flex;
  align-items: flex-end;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  color: #f26e22;
}

.product-item {
  margin: 5px;
}

.container-feed {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.product-menu {
  box-sizing: border-box;
  width: 100%;
  height: 48px;
  border-top: solid 1px #dbdbdb;
  border-bottom: solid 1px #dbdbdb;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-top: 6px;
  padding: 0 12px 0 16px;
}

.product-view,
.product-album {
  width: 26px;
  height: 26px;
  margin: 5px;
}

.post {
  background-color: #fff;
  border-top: 0.5px solid #dbdbdb;
}
.post-view {
  text-align: end;
  padding: 9px 16px;
  border-bottom: 0.5px solid #dbdbdb;
}
.btn-list img,
.btn-album img {
  width: 26px;
  height: 26px;
}

.post-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 16px;
}

.post-list-item {
  display: flex;
  margin-bottom: 16px;
  position: relative;
}

.post-profile-img {
  width: 42px;
  height: 42px;
  margin-right: 10px;
}

.post-profile-text {
  padding: 4px 0 4px 0;
  margin-bottom: 12px;
}

.post-writer {
  display: block;
  font-weight: 500;
  line-height: 17.53px;
}

.post-writer-id {
  font-size: 12px;
  line-height: 14px;
  color: #767676;
}

.post-text {
  line-height: 17.53px;
  margin-bottom: 16px;
}

.post-img {
  width: 304px;
  height: 228px;
  border: 0.5px solid #dbdbdb;
  border-radius: 10px;
  margin-bottom: 12px;
}

.post-utils {
  display: flex;
  align-items: center;
  margin-bottom: 16px;
}

.btn-like img,
.btn-comment img {
  width: 20px;
  height: 20px;
}

.count-like,
.count-comment {
  font-size: 12px;
  line-height: 12px;
  margin-right: 16px;
}

.post-date {
  font-size: 10px;
  line-height: 12px;
}

.btn-post-menu {
  position: absolute;
  top: 4px;
  right: 0;
}

.btn-post-menu img {
  width: 18px;
  height: 18px;
}
.album-wrap {
  padding: 0 30px;
}
.post-album {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  width: 100%;
  box-sizing: border-box;
}
.post-album-item {
  width: 100%;
}
.post-album-item.more-photos {
  position: relative;
}
.post-album-item.more-photos::after {
  position: absolute;
  top: 3px;
  right: 6px;
  content: '';
  width: 22px;
  height: 22px;
  background: url('../images/img-button.png');
  background-size: 100%;
}
